background-color:DodgerBlue


p{
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    
}

.column {
    float: left;
    padding: 40px;
   
}

/* Left and right column */
.column.side {
    width: 20%;
    
    background-image: url("../img/image1.1.png");
    border-top: 6px solid #ac9d1cfd;
}

/* Middle column */
.column.middle {    
    width: 35%;
    
    background-image: url("../img/fundo4.png");
    border-top: 6px solid #ac9d1cfd;

}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) 
{
    .column.side, .column.middle {
        width: 100%;
    }
}
