
nav h1{
    display: none;
    }

.titulo{
    font-family:Comic;
}

.borda {
    float: left;
    width: 450px;
    display: 200px;
    display: table;
    border: solid 3px rgb(142, 160, 168);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 15px;
    
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

div h2{
    background-color: #8FBC8F;
}
 

div h3{
    background-color:black;
    color: white;
    font-family: Times;
    align = "center"
}
