
nav h1{
    display: none;
    }

.titulo{
    font-family:Comic;
}

.borda {
    float: left;
    width: 450px;
    display: 200px;
    display: table;
    border: solid 3px rgb(142, 160, 168);
    border-radius: 10px;
    text-align: center;
    margin: 15px;
    
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

div h2{
    background-image: url("../img/fundo3.png");
}
 

div h3{
    background-image: url("../img/image1.1.png");
    color: rgb(255, 255, 255);
    font-family: Times;
}

h1.color{
    color:white;
}
p{
    color:white;
}
