table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    
}

th {
    background-image: url("../img/fundo4.png");
    color: rgb(255, 255, 255);
    text-align: center;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;

}
